header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: var(--bg-white);
}

header a {
    text-decoration: none;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--text-muted);
    font-size: 0.9rem;
}

.cart-icon {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}
